<div class="min-h-screen flex flex-col items-center bg-gray-100 p-4">
  <!-- User Card Section -->
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-6 mb-6">
    <app-user-card></app-user-card>
    <button
      (click)="onSignOut()"
      class="mt-4 w-full py-2 px-4 bg-red-500 text-white rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-opacity-50"
    >
      Sign Out
    </button>
  </div>

  <!-- Chat Section -->
  <div class="w-full max-w-lg bg-white shadow-lg rounded-lg p-6">
    <!-- Room Selection Section -->
    <app-select-room (roomSelected)="joinRoom($event)" (leaveRoomEvent)="leaveRoom()" [isInRoom]="isInRoom"> </app-select-room>
    
    <!-- Chat Window -->
    <app-chat-window [messages]="getFilteredMessages()" [userCount]="userCount"></app-chat-window>
    
    <!-- Input and Send Button Section -->
    <app-message-input [isInRoom]="isInRoom" (messageSent)="hanldeMessage($event)"></app-message-input>
  </div>
</div>
